apps/*
**/data/*
!**/data/.gitkeep
sites-available/*
sites-enabled/*
!apps/.gitkeep
old
.vscode
.env
infra/mysql/dumps/*
!infra/mysql/dumps/.gitkeep
infra/nginx/conf.d/*
!infra/nginx/conf.d/.gitkeep
infra/nginx/enabled/*
!infra/nginx/enabled/.gitkeep
shared/volumes/*
!shared/volumes/.gitkeep