apps/*
docs/*
**/data/*
**/backups/*
!**/backups/*.md
**/init/*
!**/init/*.md
**/migrations/*
!**/migrations/*.md
**/schemas/*
!**/schemas/*.md
**/seeds/*.md
!**/seeds/*.md
**/enabled/*
**/available/*
knowledge/*
.env